body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    background-color: whitesmoke;
    background-image: url('image\aa.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    bottom: left;
      
    
}
.container {
    max-width: 800px;
    text-align: top-right;
    margin: 0 auto;
    padding: 20px;
    
}

h2 {
    color: blue;
    text-align: center;

}

li {
    
    margin: 10px;
    padding:initial;
    display: relative;
    font-weight: bold;
    text-align: center;
}
body {
    background-image: url("image/aa.jpg");
    background-image: no-repeat;
    background-size: fixed;
}
.button {
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    
}
.header {
    text-align: center;
    text-transform: capitalize;
    color: green;
}
 .dead {
    display: block;
    width: 30px;
    border-radius: 8px;

    
}