body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    background-color: whitesmoke;
    background-image: url('image\aa.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    bottom: left;
      
    
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.hero-image {
    display: 100;
    max-width: 100%;
    height: auto;
    padding: auto;
}
h2 {
    color: blue;
    text-align: center;

}

li {
    
    margin:auto;
    padding:initial;
    display: block;
    font-weight: bold;
}
body {
    background-image: url("image/aa.jpg");
    background-image: no-repeat;
    background-size: fixed;
}